body {
    padding: 1rem;
}

.boards-container {
    display: flex;
    
    justify-content: space-between;
}

.board {
    display: grid;
    grid-template-rows: repeat(10, auto);
    grid-template-columns: repeat(10, auto);
}

.board-div {
    width: 35px;
    height: 35px;
    border: 1px solid black;
}

.board-div:hover {
    cursor: pointer;
}

.board-div-hovered {
    background-color: rgb(104, 184, 104);
}

.board-div-selected {
    background-color: cyan;
}


.computer-board {
}

.rotate-direction-ship {
    /* change these dimensions later */
    width: 150px;
    height: 65px;
    font-size: 1.3rem;
    cursor: pointer;
}